@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 220, 38, 127;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 220, 38, 127;
        --background-end-rgb: 185, 28, 28;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 348 83% 47%;
        --card: 0 0% 100%;
        --card-foreground: 348 83% 47%;
        --popover: 0 0% 100%;
        --popover-foreground: 348 83% 47%;
        --primary: 348 83% 47%;
        --primary-foreground: 0 0% 100%;
        --secondary: 348 100% 96%;
        --secondary-foreground: 348 83% 47%;
        --muted: 348 100% 96%;
        --muted-foreground: 348 30% 50%;
        --accent: 348 100% 96%;
        --accent-foreground: 348 83% 47%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 348 30% 82%;
        --input: 348 30% 82%;
        --ring: 348 83% 47%;
        --chart-1: 348 83% 47%;
        --chart-2: 0 72% 51%;
        --chart-3: 348 100% 67%;
        --chart-4: 0 84% 60%;
        --chart-5: 348 91% 70%;
        --radius: 0.5rem;
    }
    .dark {
        --background: 348 83% 47%;
        --foreground: 0 0% 100%;
        --card: 348 70% 40%;
        --card-foreground: 0 0% 100%;
        --popover: 348 70% 40%;
        --popover-foreground: 0 0% 100%;
        --primary: 0 0% 100%;
        --primary-foreground: 348 83% 47%;
        --secondary: 348 60% 30%;
        --secondary-foreground: 0 0% 100%;
        --muted: 348 60% 30%;
        --muted-foreground: 0 0% 80%;
        --accent: 348 60% 30%;
        --accent-foreground: 0 0% 100%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 348 40% 25%;
        --input: 348 40% 25%;
        --ring: 0 0% 100%;
        --chart-1: 0 72% 51%;
        --chart-2: 348 100% 67%;
        --chart-3: 0 84% 60%;
        --chart-4: 348 91% 70%;
        --chart-5: 0 100% 75%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}